<div class="job">
<%= render 'layouts/mini_rechao_boxes' %></br>
<div class="job_description">
	Design Lead – User-interface, user-experience website design</br></br>

	Heatwave Fashion (热潮时尚) is an exciting new website for users to find, share, and purchase fashions that fit their personal styles.  Heatwave Fashion is an up-and-coming startup looking to change the face online fashion.  Our team has built a proof-of-concept and has been actively generating early demand.</br></br>

	Heatwave Fashion is currently developing its first platform, and is looking for a highly motivated leader to help design and develop the website user-interface.  You will be working in concert with database and fashion teams to develop a social ecommerce website with an innovative and exception user experience.  The ideal candidate has strong experience in UI and UX design and website development for the Chinese market. </br></br>

	The design lead must demonstrate a keen interest in social ecommerce, innovative website design, and continuous improvement.</br></br>

	The position requires superb communication, team, and leadership skills and a disciplined-but-entrepreneurial spirit.  You will be joining the core leadership team.  Though you will be leading the website design and development, you will be expected to engage in a collaborative consensus driven environment and provide and be open to critical input into the business and technical vision and strategy.</br></br>

	Native fluency in Mandarin and conversational English are required. </br></br>

	The position is located in Shanghai, China.</br></br>

	Responsibilities</br>
	•	Design and develop website user-experience and user-interface</br>
	•	Implement high-quality efficient code in an agile development environment</br>
	•	Innovate with new designs, algorithms, and optimizations to meet scaling, performance, and other requirements</br>
	•	Design, develop, and optimize scalable online social and virtual store platforms</br>
	•	Collaborate on with peers and partners to define website requirements, designs, development plans, and work estimates.</br>
	•	Proactively manage & evolve the availability, scalability, performance, and efficiency of the platform</br>
	•	Provide critical input into business & technical vision and strategy</br></br>

	Qualifications</br>
	•	BS or MS in Computer Science (or related field) or equivalent professional experience</br>
	•	2-4 years of experience in ecommerce website design and development using the following languages, among others:</br>
	o	Ruby on Rails</br>
	o	Javascript, jQuery, AJAX, CSS, XML, HTML</br>
	o	Adobe Air, Flex and Flash</br>
	o	Oracle, SQL, noSQL, Hadoop</br>
	•	Experience developing social networking and/or social commerce platforms</br>
	•	Experience, or a keen interest, in mobile application development and design.</br>
	•	Experience in managing website interface between both graph and relational databases and the website interface.</br>
	•	Experience, or a keen interest, in integrating and/or developing scalable CRM and inventory management systems</br>
	•	Experience with test-driven development in an agile software environment</br>
	•	Attention to detail, strong organizational skills and the ability to multitask</br>
	•	Demonstrates leadership, collaboration, and analytical mindset and capabilities </br></br>
		
	Interested parties, please send your application, in both English and Chinese, to jobs@rechaoss.com</br></br>

</div>
</div>