<div class="job">
<%= render 'layouts/mini_rechao_boxes' %></br>
<div class="job_description">
	Fashion Lead – Fashion Marketing, Merchandising, and Business Development</br></br>

	Heatwave Fashion (热潮时尚) is an exciting new website for users to find, share, and purchase fashions that fit their personal styles.  Heatwave Fashion is an up-and-coming startup looking to change the face online fashion.  Our team has built a proof-of-concept and has been actively generating early demand.</br></br>

	Heatwave Fashion is currently driving towards business opening, and is looking for a highly motivated leader to develop and drive marketing strategy, brand partnerships, and the initial user base. </br></br>

	You will be responsible for identifying upcoming seasonal fashion and brand trends and drive the key message through the team and ecommerce platform.  You will serve as an external ambassador for Heatwave Fashion, and will represent Heatwave Fashion across media, events, on site, and customer facing situations.  You will be partnering with other members of the leadership team on brand acquisition, leveraging existing and building new relationships with apparel brands.</br></br>

	The ideal candidate has strong experience in the Chinese fashion market with a particular focus on the Internet, ecommerce, and social marketing.  You will be expected to collaborate with the leadership team to develop our core platform and eventually lead a team of marketers to develop our brand and user base.</br></br>

	The position requires superb communication, team, and leadership skills and a disciplined-but-entrepreneurial spirit.  You will be joining the core leadership team, and will be expected to engage in a collaborative consensus driven environment, providing, and being open to critical input into the business vision, technical vision, and strategy.</br></br>

	Native fluency in Mandarin and conversational English are required. </br></br>

	The position is located in Shanghai, China.</br></br>



	Responsibilities</br>
	•	Collaborate with design and technology teams to develop and optimize core business platform</br>
	•	Develop and regularly review of fashion trend and brand forecasts</br>
	•	Develop, implement, and drive creative and marketing strategy across all channels, particularly digital and social marketing</br>
	•	Develop, test, and implement sales promotions, user acquisition, and user retention methods.</br>
	•	Develop and monitor ecommerce analytics, identifying trends and improvement opportunities</br>
	•	Participate in brand acquisition and partner development</br>
	•	Develop, drive, and collaborate with partner brands on coop marketing opportunities.</br>
	•	Attend and represent Heatwave Fashion at events, on site, and in customer facing opportunities.</br></br>

	Qualifications</br>
	•	BS or MS in Marketing, Fashion, and/or a related field</br>
	•	2-4 years of relevant experience with ecommerce, fashion retail, or fashion editorial background</br>
	•	Knowledge of men’s and women’s fashion categories and clothing taxonomy essential</br>
	•	Experience, or a keen interest, in entrepreneurship and startups</br>
	•	Experience in:</br>
	o	Developing trend forecasting</br>
	o	Creating and driving creative processes</br>
	o	Developing and implementing new sales and marketing concepts and measures such as: group buying, flash sales, social ecommerce</br>
	o	Work plan development, including work estimates and targets</br>
	o	Digital media marketing, social marketing, and ecommerce</br>
	•	Demonstrates:</br>
	o	Independence, leadership, collaborative qualities</br>
	o	Interest in proactively assuming responsibility: developing and managing expectations</br>
	o	Attention to detail</br>
	o	Organizational skills and the ability to multitask</br>
	o	Analytic ability, a problem solving mindset, and a drive to develop</br></br>

	Interested parties, please send your application, in both English and Chinese, to jobs@rechaoss.com</br></br>
	
</div>
</div>
