<div class="job">
<%= render 'layouts/mini_rechao_boxes' %></br>
<div class="job_description">
	时尚营销主管－时尚营销，市场推销，业务开发 </br></br>

	热潮时尚是一个创新的精彩时尚网站，为用户提供自主发掘，分享自我搭配和可直接购买适合自己风格服装的网络平台。热潮是一家在创业阶段的企业，希望全面改变未来网络服装业的面貌。我们完成了用于概念验证的模板，并已经提前收到用户的热切需求。</br></br>

	热潮处于创业起步阶段，正在寻求一位有激情的领导型人才策划并带领实施市场营销策略，建立合作品牌和初期阶段用户基础。 </br></br>

	你将负责定位本季时尚热潮和品牌流行趋势，并将信息融入整个团队和电子商务的网络平台中。你会担任热潮的外部形象大使，代表热潮出席各类媒体采访和实地活动，时尚活动现场，并与用户进行直接面对面的交流。你会跟其他领导团队的同事一起开拓合作品牌市场，利用现有关系来开发新的服装品牌客户关系。</br></br>

	理想候选人应在中国时尚行业中，尤其在互联网，电子商务，社交化营销业有丰富的经验。你将和我们的领导团队合作开发我们的核心平台。之后你将建立并领导市场营销人员来发展壮大我们的品牌和用户基础。</br></br>

	此职位人才需有杰出的沟通能力，团队合作性，领导才能，并拥有律己的创业家精神。你将成为热潮的核心领导团队成员之一。在团队协同一致的企业文化下，你在带领热潮的网页设计和技术开发的同时，应准备随时提供或接纳团队在企业发展策略和技术开发方面的意见和建议。</br></br>

	职位需要流利的中文母语和日常英语口语的能力。</br></br>

	职位所在地为中国上海。</br></br>

	职责包括：</br>
	•	与设计和技术开发团队合作来共同开发并优化核心商务平台</br>
	•	定期回顾时尚动态并预测品牌走向趋势</br>
	•	通过各种媒体渠道，尤其在数码和社交化营销市场，制定并领导实施相应的创意营销策略</br>
	•	开发并实行各种营销策略来进行产品促销、用户征集和保留老客户的活动，并对结果进行回顾来保证其效果</br>
	•	时刻关注电子商务领域的关键性分析指标，以便了解市场趋势和把握改进机遇</br>
	•	积极加入品牌征集及开发合作伙伴的活动</br>
	•	与合作品牌一同策划并开展合作性市场营销战略</br>
	•	代表热潮出席各类媒体采访和实地活动，时尚活动现场，并与用户进行直接的面对面交流</br></br>

	职位要求</br>
	•	市场营销或与时尚相关专业的本科及以上学历</br>
	•	2到4年有关电子商务，时尚零售业经验，或有时尚编辑背景</br>
	•	有创业或新公司成立时期的工作经验，或有强烈兴趣</br>
	•	精通男装和女装的时尚类目和服装分类要素</br>
	•	具备以下能力：</br>
	o	时尚趋势的预测</br>
	o	开发和主导创新过程</br>
	o	制定并实施新型市场营销活动和措施，例如：团购，低价限时抢购，社交化电子商务</br>
	o	工作计划的制定，包含工作时间和完成的目标规划</br>
	o	数字媒体营销，社会化营销，电子商务</br>
	•	具有以下特质：</br>
	o	独立性强，具有领导能力与团队合作意识 </br>
	o	主动承担责任：能够很好的发展并管理预期值</br>
	o	注重细节</br>
	o	组织协调性强，并有同时完成多重任务的能力</br>
	o	分析能力强，富有解决问题的心态</br></br>

	有意者请发中文和英文简历到邮箱jobs@rechaoss.com</br>
</div>
</div>
