<div class="job">
<%= render 'layouts/mini_rechao_boxes' %></br>
<div class="job_description">
	Technology Lead – Scalable Search and Data Mining</br></br>

	Heatwave Fashion (热潮时尚) is an exciting new website for users to find, share, and purchase fashions that fit their personal styles.  Heatwave Fashion is an up-and-coming startup looking to change the face of online fashion.  Our team has built a proof-of-concept and has been actively generating early demand.</br></br>

	Heatwave Fashion is currently developing its first platform, and is looking for a highly motivated leader to help develop the core database technologies of the website.  You will be integrating large amounts of user-generated data to develop scalable search and pattern recognition methods.  The ideal candidate has strong experience in scalable search solutions, data mining, social media and/or ecommerce.  You will be expected to eventually lead a team of software engineers to deliver efficient and scalable systems as business develops.</br></br>

	The lead technology developer must demonstrate a keen interest in</br>
	•	Distributed computing</br>
	•	Big data</br>
	•	Relational (graph) databases such as noSql, Hadoop</br>
	•	Low-latency systems</br>
	•	Fault-tolerance</br>
	•	Efficiency (in code and in systems), and </br>
	•	Performance optimization</br></br>

	The position requires superb communication, team, and leadership skills and a disciplined-but-entrepreneurial spirit.  You will be joining the core leadership team.  Though you will be leading the technology development of the product, you will be expected to engage in a collaborative consensus driven environment and provide and be open to critical input into the business and technical vision and strategy.</br></br>

	Fluency in Mandarin and conversational English are required. </br></br>

	The position is located in Shanghai, China.</br></br>

	Responsibilities</br>
	•	Implement high-quality efficient code in an agile development environment</br>
	•	Innovate with new designs, algorithms, and optimizations to meet scaling, performance, and other requirements</br>
	•	Design, develop, and optimize scalable online pattern recognition and search</br> platforms using graph databases such as NoSql and Hadoop, to handle real-time transactions responding in sub-milliseconds.</br>
	•	Collaborate with peers and partners to define software requirements, designs, development plans, and work estimates.</br>
	•	Proactively manage & evolve the availability, scalability, performance, and efficiency of the platform</br>
	•	Provide critical input into business & technical vision and strategy</br></br>

	Qualifications</br>
	•	BS or MS in Computer Science (or related field) or equivalent professional experience</br>
	•	2-4 years of experience developing high-performance, high-availability transaction applications</br>
	•	Strong experience with Bigdata with noSql/Hadoop or other graph databases.  Experience optimizing data storage and retrieval</br>
	•	Experience designing, implementing, analyzing, profiling, and troubleshooting large-volume data and IT processing systems and their associated data cache and big data stores.</br>
	•	Solid experience with object-oriented design, design patterns, data structures, and algorithms.</br>
	•	Design-first approach to software development.</br>
	•	Solid development skills and experience in Ruby on Rails</br>
	•	Experience with test-driven development in an agile software environment.</br>
	•	Experience (or keen interest) in distributed computing, low-latency systems, fault-tolerance, performance optimization, high-performance networking, and machine learning</br>
	•	Experience (or keen interest) in ecommerce, social networking, and social commerce</br>
	•	Attention to detail, strong organizational skills and the ability to multitask</br>
	•	Demonstrates leadership, collaboration, and analytical mindset and capabilities </br></br>
	
	Interested parties, please send your application, in both English and Chinese, to jobs@rechaoss.com</br></br>
	
</div>
</div>
