<div class="job">
<%= render 'layouts/mini_rechao_boxes' %></br>
<div class="job_description">
	技术主管－可扩展性搜索，数据挖掘 </br></br>

	热潮时尚是一个创新的精彩时尚网站，为用户提供自主发掘，分享自我搭配和可直接购买适合自己风格服装的网络平台。热潮是一家在创业阶段的企业，希望全面改变未来网络服装业的面貌。我们完成了用于概念验证的模板，并已经提前收到用户的热切需求。</br></br>

	热潮正在开发首次试用版平台。我们正在寻求一名有激情的领导型人才来开发网站的核心数据库技术。你将汇集大量用户端产生的数据来开发可扩展性搜索和模式识别系统。理想的候选人应该在提供可扩展性搜索解决方案，数据挖掘，社交化媒体和/或电子商务方面有丰富的经验。你将最终带领软件工程师团队开发出高效和可扩展性搜索的商业化方案。</br></br>

	技术开发主管需要在以下项目上有所优势和精通：</br>
	•	分布式计算</br>
	•	庞大的数据</br>
	•	关系式（图像）数据库，比如noSql, Hadoop</br>
	•	低延迟系统</br>
	•	容错系统</br>
	•	高效率的源代码和系统设置</br>
	•	性能优化设计</br></br>

	此职位人才需有杰出的沟通能力，团队合作性，领导才能，并拥有律己的创业家精神。你将成为热潮的核心领导团队成员之一。在团队协同一致的企业文化下，你在带领热潮的产品技术开发的同时，应准备随时提供或接纳团队在企业发展策略和技术开发方面的意见和建议。</br></br>

	职位需要流利的中文母语和日常英语口语的能力。</br></br>

	职位所在地为中国上海。</br></br>



	职责包括：</br>
	•	在灵活的软件开发环境中，确保高质高效的源代码</br>
	•	通过创新的设计，算法的改进和系统优化来实现网站的规模化、功能化及其它方面上的要求</br>
	•	运用图像数据库比如noSql, Hadoop来设计、开发并优化可扩展性在线模式识别和搜索平台，在毫秒内处理回复实时交易</br>
	•	与同事、合伙人共同制定网站要求标准、页面设计、网站发展规划和计划时间表</br>
	•	积极主动地管理并不断提升平台的实用性、可扩展性、性能和效率</br>
	•	为企业发展战略和技术开发的前景提供建设性的意见和建议 </br></br>

	职位要求</br>
	•	计算机科学相关专业本科及以上学历</br>
	•	2到4年从事开发高性能和高可用性的应用程序  </br>
	•	熟练运用图像数据库noSql, Hadoop的大数据或其它类型的图像数据库。有优化数据库存储和检索的经验。</br>
	•	精通对于大储存量数据和信息技术处理系统以及他们相关的数据高速缓存和大型数据储存的设计、操作、分析、程序概要分析和疑难排解。 </br>
	•	精通面向对象设计（OOD），设计模式，数据结构和电脑程序运算法则</br>
	•	运用事先设计的软件开发方式</br>
	•	熟练的软件开发技术和熟悉Ruby on Rails, Java编程语言</br>
	•	熟悉在灵活的软件开发环境中以测试为主的开发方式</br>
	•	熟悉分布式计算技术，延迟系统，容错系统，性能优化设计，高性能网络和及其改进能力的设置</br>
	•	熟悉电子商务、社交化网站和社交化商务。</br>
	•	注重细节、组织协调性强，并有同时完成多重任务的能力</br>
	•	具有领导力，协作力和善于分析的思维方式</br></br>

	有意者请发中文和英文简历到邮箱jobs@rechaoss.com</br>
</div>
</div>
