		<section>
		<%= render 'layouts/rechao_boxes' %>
		
		<h1>本网站正在建设中 The site is under construction</h1>
		Sign up here to receive updates:
		
		<div class="sign_up">
			<%= render 'init_users/signup_form' %>
		</div>
		</br>
		<h1><li><%= link_to "我们正在招聘! We're hiring!", jobs_path%></li></h1>


		<div class="messages">
			<%= render 'shared/messages' %>
		</div>
		</section>