<div class="job">
<%= render 'layouts/mini_rechao_boxes' %></br>
</div>
<div class="media">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="640" height="400" id="csSWF">
        <param name="movie" value="media/player.swf" />
        <param name="quality" value="best" />
        <param name="bgcolor" value="#1a1a1a" />
        <param name="allowfullscreen" value="true" />
        <param name="scale" value="showall" />
        <param name="allowscriptaccess" value="always" />
        <param name="flashvars" value="thumb=public/media/FirstFrame.png&containerwidth=640&containerheight=400&content=热潮时尚FashionMe.mp4&autostart=false&blurover=false&autohide=true&smoothing=true&showbranding=false&showstartscreen=true&color=0x1A1A1A,0x1A1A1A" />
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="media/player.swf" width="640" height="400">
            <param name="quality" value="best" />
            <param name="bgcolor" value="#1a1a1a" />
            <param name="allowfullscreen" value="true" />
            <param name="scale" value="showall" />
            <param name="allowscriptaccess" value="always" />
            <param name="flashvars" value="thumb=public/media/FirstFrame.png&containerwidth=640&containerheight=400&content=热潮时尚FashionMe.mp4&autostart=false&blurover=false&autohide=true&smoothing=true&showbranding=false&showstartscreen=true&color=0x1A1A1A,0x1A1A1A" />
        <!--<![endif]-->
        <video src="../public/media/热潮时尚FashionMe.mp4" poster="../public/media/FirstFrame.png" width="640" height="400" controls>
            <p>The Camtasia video content presented here requires a more recent version of the Adobe Flash Player. If you are using a browser with JavaScript disabled please enable it now. Otherwise, please update your version of the free Flash Player by <a href="http://www.adobe.com/go/getflashplayer">downloading here</a>.</p>
        </video>
        <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
    </object>
</div>