<div class="mini_box red"><div class="mini_character">
	热
</div></div>
<div class="mini_box orange"><div class="mini_character">潮</div></div>
<div class="mini_box yellow"><div class="mini_character">时</div></div>
<div class="mini_box blue"><div class="mini_character">尚</div></div>