<div class="box red"><div class="character">
	热
</div></div>
<div class="box orange"><div class="character">潮</div></div>
<div class="box yellow"><div class="character">时</div></div>
<div class="box blue"><div class="character">尚</div></div>